<!DOCTYPE html>

<head>
    <title>Index page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

    <body>
 
        
    
    {%for i in item%}
    {{i.country_name}}
    <a href='{{i.link}}'>Click</a>
    {%endfor%}
 
    <h2> Sort reviews by</h2>
    <form action="/" method="GET" id="myform">
    <label for="country">Choose a country:</label>
        <select id ="cntrySelect" name="country" onchange="submitForm();">
            <option value="">All countries</option>
            {%for i in country_item%}
                <option value="{{i.id}}" {% if i.id== country_filter|int %} selected="selected"{% endif %}>{{i.country_name}}</option>
            {%endfor%}
        </select>
    <form>

    <form action="/" method="GET" id="myscoreform">
    <label for="score">Choose rating:</label>
        <select id="scoreSelect" name="score" onchange="submitForm();">
            <option value ="">All ratings</option>
            <option value="1" {% if 1==score_filter|int %} selected="selected"{% endif %}>More than 0</option>
            <option value="2" {% if 2==score_filter|int %} selected="selected" {% endif %}>More than 1</option>
            <option value="3" {% if 3==score_filter|int %} selected="selected" {% endif %}>More than 2</option>
            <option value="4" {% if 4==score_filter|int %} selected="selected" {% endif%}>More than 3</option>
            <option value="5" {% if 5==score_filter|int %} selected="selected" {% endif%}>More than 4</option>
        </select>
    <form>



    <div>
      <button onclick='window.location = "/submitreview"'>Share your experience</button>
    </div>
     
     <div>
        {%for r in rev%}
        {{r.date}}
        <br>
        {{r.moderation_status}}
        <br>
        {{r.score}}
        <br>
        {{r.text}}
        <br>
        {%endfor%}
    </div>

  
    <script>

        function submitForm(){
         
            document.getElementById("myform").submit();
            document.getElementById("myscoreform").submit();
        }
 
   
    </script>


    </body>

</html>