

    <h3>Login</h3>



        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {{ messages[0] }}
               
            {% endif %}
        {% endwith %}    
        <form method="POST" action="/login">
            <div>  
                
                <input type="email" name="email" id ="form-email" placeholder="Your email">
            </div>

            <div>

                <input type="password" name="password" id = "form-password" placeholder="Your Password">
            </div>
            
            <div>
            <label class="checkbox">
                <input type="checkbox">
                Remember me
                </label>
            </div>
            <input type="submit" value="Login">

        </form>

