<!DOCTYPE html>

<head>
    <title>Index page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

    <body>


        <h1> Welcome, {{name}}!</h1>

        <a href="{{ url_for('auth.logout')}}">Logout</a>
 


        {%for r in rstatus%}
        <br>
        {{r.date}}
    
        <br>
   
        <button type="button" onclick="approve({{r.id}})" id={{r.id}}>Approve</button>
    
        <button type="button" onclick="reject({{r.id}})" id={{r.id}}>Reject</button>
        <br>
        <br>
        {{r.text}}
        <br>
        {%endfor%}

    
    <script> 
    function approve (reviewid){

       
        $.post('/moderation/approved/' + reviewid);
    }

    function reject (reviewid){
        
        $.post('/moderation/rejected/' + reviewid);
    }

    </script>

    </body>

</html>